/* General styles */
body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/* Container for centering the QR code component */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 300px;
}

/* QR Code component styling */
.qr-code {
  background-color: hsl(0, 0%, 100%); 
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; 
  max-width: 200px; 
  margin-bottom: 5rem; 
  margin-top: 5rem;
}

/* QR Code image styling */
.qr-code img {
  width: 100%;
  border-radius: 10px;
}

/* Heading styling */
.qr-code h4 {
  font-size: 1rem; 
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0;
  margin: 1rem 0 1rem;
  color: hsl(218, 44%, 22%); 
  font-weight: 700; 
}

/* Paragraph styling */
.qr-code p {
  font-size: 0.7rem; 
  color: hsl(216, 15%, 48%); 
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Attribution (footer) styling */
.attribution {
  font-size: 1rem; 
  color: hsl(228, 45%, 44%); 
  text-decoration: none;
  margin-top: auto; 
  margin-bottom: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%); 
  text-decoration: none;
  font-weight: 700;
}

.attribution a:hover {
  color: hsl(216, 15%, 48%);
}

/* Mobile responsiveness */
@media (max-width: 375px) {
  .container {
    width: 90%; 
    padding: 0.5rem; 
  }

  .qr-code {
    max-width: 100%; 
    margin-bottom: 2rem; 
    margin-top: 2rem; 
  }

  .qr-code h4 {
    font-size: 0.875rem; 
  }

  .qr-code p {
    font-size: 0.625rem; 
  }

  .attribution {
      font-size: 0.5rem; 
      margin-bottom: 1rem; 
    text-align: center;
  }
}
